{% extends 'base.html' %}

{% block title %}Buscar Libros{% endblock %}

{% block content %}
    <h1>Buscar Libros</h1>
    <form method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <input type="submit" value="Buscar">
    </form>

    {% if resultados %}
        <h2>Resultados:</h2>
        <ul>
            {% for libro in resultados %}
            <li>{{ libro.titulo }} - {{ libro.autor.nombre }} ({{ libro.editorial.nombre }})</li>
            {% endfor %}
        </ul>
    {% else %}
        <p>No se encontraron resultados.</p>
    {% endif %}
{% endblock %}